# Supabase
SUPABASE_URL=https://hrjigivrdadezmajlrkl.supabase.co/rest/v1/
SUPABASE_SECRET_KEY=b_secret_kT9_6RghT_lSaG9ke54FjQ_h_ds66We

# Storage
SUPABASE_STORAGE_BUCKET=product-assets

# Admin
ADMIN_PASSWORD=eph@1234
ADMIN_SESSION_SECRET=여기에_긴_랜덤값

# Data
USE_MOCK_DATA=false

# 병원 IP 제한
ENABLE_IP_RESTRICTION=false